a,
body {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}

.footer-top__title {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

.menu__list-link {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

.menu__list-link--active,
.menu__list-link:hover {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.6;
    color: #8d8d8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
input::placeholder,
textarea::placeholder{
  color: #b5b4b4;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 10px;
}

a {
    font-size: 16px;
    line-height: 1.6;
    color: #8d8d8d;
}

.title {
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    color: #29282d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.input__hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.button {
    background-color: #fe3e57;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.header {
    padding: 40px 0;
}

.header__inner {
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__list-item + .menu__list-item {
    padding-left: 35px;
}

.menu__list-link {
    color: #29282d;
    padding: 0 2px 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu__list-link:hover {
    color: #fe576d;
    border-bottom: 1px solid #fe576d;
}

.menu__list-link--active {
    color: #fe576d;
    border-bottom: 1px solid #fe576d;
}

.user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-nav__link {
    position: relative;
}

.user-nav__link + .user-nav__link {
    padding-left: 25px;
}

.user-nav__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fe576d;
    top: -9px;
    right: -14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin: 120px 0 130px;
    position: relative;
}

.info::before,
.info::after {
    content: '';
    position: absolute;
    z-index: -3;
}

.info::before {
    background-image: url(../images/decor/Shape_1.png);
    width: 120px;
    height: 121px;
    left: -40px;
    top: -40px;
}

.info::after {
    background-image: url(../images/decor/Shape_2.png);
    width: 65px;
    height: 52px;
    right: -20px;
    bottom: -20px;
}

.info__item {
    padding: 60px 40px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    max-width: 370px;
    height: 300px;
    background-color: #fff;
}

.info__item-title {
    margin: 30px 0 10px;
    font-size: 22px;
    line-height: 1.2;
    color: #29282d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.categories-info {
    background-image: url(../images/decor/shape-left.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.categories-info__inner {
    background-image: url(../images/decor/shape-right.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.categories__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 635px;
    grid-gap: 30px;
    margin-bottom: 120px;
}

.categories__item {
    padding-top: 40px;
    padding-left: 40px;
}

.categories__item:nth-child(1) {
    grid-row: 1/3;
    color: #5800e4;
}

.categories__item:nth-child(2) {
    grid-column-start: 2;
    grid-column: 2/4;
    color: #fe3e57;
    padding-top: 110px;
}

.categories__item:nth-child(3) {
    color: #ffb534;
}

.categories__item:nth-child(4) {
    color: #34c3ff;
}

.categories__text {
    margin: 30px auto 60px;
    max-width: 630px;
    text-align: center;
}

.categories__item-title {
    font-size: 22px;
    line-height: 1.2;
    color: #29282d;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.categories__item-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.categories__item-link:hover {
    color: #fe3e57;
    transition: all 0.3s;
    border-bottom: 1px solid #fe3e57;
}

.video-fashion {
    background-color: #f6f6f6;
    background-image: url(../images/bg-video.png);
    background-position: top center;
    background-size: cover;
    padding: 125px 0;
}

.video-fashion__inner {
    display: flex;
}

.video-fashion__popup {
    margin-right: 60px;
    height: 480px;
    max-width: 530px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.video-fashion__content {
    max-width: 570px;
    padding: 80px 0 20px;
}

.video-fashion__subtitle {
    color: #fe3e57;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
}

.video-fashion__title {
    text-align: left;
    line-height: 2.5;
}

.video-fashion__text {
    margin-bottom: 55px;
}

.video-fashion__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 5px;
    color: #ffff;
    background-color: #fe3e57;
    padding: 14px 36px;
    text-transform: uppercase;
    box-shadow: 0px 7px 20px 0px rgb(255 17 48 / 30%);
    cursor: pointer;
}

.products {
    padding: 120px 0;
}

.products__text {
    text-align: center;
    margin: 30px auto 50px;
    max-width: 690px;
}

.products__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
}

.products-item {
    text-align: center;
    max-width: 370px;
}

.products-item__link--line::before,
.products-item__link--line::after {
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    background-color: #ede8e8;
}

.products-item__link--line::before {
    left: 70px;
}

.products-item__link--line::after {
    right: 70px;
}

.products-item--sale .products-item__img-box::before {
    content: 'SALE';
    position: absolute;
    background-color: #fe3e57;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1px;
    left: 10px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.products-item__img-box {
    position: relative;
    max-height: 370px;
    max-width: 370px;
    overflow: hidden;
    cursor: pointer;
}

.products-item__img {
    object-fit: cover;
}

.products-item__link-box {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 220px;
    height: 50px;
    border-radius: 22px;
    background-color: #fff;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(300%);
    transition: all 0.5s;
}

.products-item:hover .products-item__link-box {
    transform: translateY(0);
}

.products-item__link:hover path {
    fill: #fe3e57;
}

.products-item__title {
    color: #29282d;
}

.jq-ry-container {
    margin: 30px auto 20px;
}

.products-item__price {
    display: flex;
    justify-content: center;
}

.products-item__new-price {
    padding: 0 12px;
    color: #29282d;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.products-item__old-price {
    padding: 0 12px;
    text-decoration: line-through;
}

.products-item.products-item--list {
    min-width: 100%;
    display: flex;
    text-align: left;
}

.products-item.products-item--list .products-item__img-box {
    height: 250px;
    min-width: 200px;
    margin-right: -33px;
}

.products-item.products-item--list .products-item__img-box .products-item__img {
    height: 250px;
}

.products-item.products-item--list .products-item__link-box {
    background-color: transparent;
    max-width: 115px;
    box-shadow: none;
    bottom: auto;
}

.products-item.products-item--list:hover .products-item__link-box {
    transform: translateY(-280%);
}

.products-item.products-item--list
    .products-item__link-box
    .products-item__link {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-item.products-item--list
    .products-item__link-box
    .products-item__link--line {
    display: none;
}

.products-item.products-item--list .products-item__wrapper-box {
    border: 1px solid #ececec;
    border-left: none;
    padding-left: 33px;
}

.products-item.products-item--list .products-item__box {
    display: flex;
    flex-wrap: wrap;
}

.products-item.products-item--list .products-item__star {
    margin: 0 0 0 35px;
    padding-top: 3px;
}

.products-item__content-box {
    display: none;
}

.products-item.products-item--list .products-item__content-box {
    display: block;
}

.products-item.products-item--list .products-item__title {
    order: -1;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 30px;
}

.products-item.products-item--list .products-item__price {
    order: -1;
    margin-left: -12px;
    justify-content: left;
}

.products-item.products-item--list .products-item__text {
    margin-bottom: 25px;
}

.products-item.products-item--list .products-item__btn {
    background-color: #000;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.products-item.products-item--list .products-item__btn:hover {
    background-color: #fe3e57;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

.promo {
    background-image: url(../images/bg-promo.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    max-height: 695px;
    text-align: center;
    padding: 160px 0;
}
.container-promo{
  display: flex;
  justify-content: end;
}

.promo__inner {
    max-width: 575px;
     
}

.promo__subtitle {
    text-transform: uppercase;
    color: #fe3e57;
    font-family: 'Quicksand-Medium';
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.promo__clock {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.promo__clock-item {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo__clock-item span {
    font-family: 'Roboto-Bolt';
    font-size: 48px;
    line-height: 1;
    color: #29282d;
}

.promo__text {
    font-family: 'Quicksand-Medium';
    font-size: 16px;
    line-height: 1.5;
}

.promo__link {
    padding: 20px 30px;
    border: 1px solid #fe3e57;
    letter-spacing: 2px;
    color: #29282d;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
}

.blog {
    background-image: url('../images/bg-blog.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0 100px;
    text-align: center;
}

.blog__title {
    font-family: 'Roboto-bold', sans-serif;
    font-weight: 700;
    color: #29282d;
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.blog__text {
    max-width: 720px;
    margin: 0 auto 50px;
}

.blog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    position: relative;
    text-align: left;
}

.blog__items::after {
    content: '';
    position: absolute;
    width: 126px;
    height: 53px;
    background-image: url('../images/decor/shape-blog.png');
    top: -30px;
    right: -25px;
    z-index: -3;
}

.blog__item {
    max-width: 340px;
    border: 1px solid #f9f9f9;
    transition: all 0.3s;
}

.blog__item:hover {
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    border: none;
}

.blog__item:hover .blog__item-morelink {
    color: #fe3e57;
}

.blog__item:hover .blog__item-morelink::after {
    background-image: url('../images/icons/arrow_blog-accent.png');
}

.blog__item-imglink {
    display: block;
}

.blog__item-imglink {
    max-height: 288px;
    object-fit: cover;
}

.blog__item-box {
    padding: 20px 30px;
}

.blog__item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog__item-author,
.blog__item-date {
    padding-left: 30px;
    position: relative;
}

.blog__item-author::before,
.blog__item-date::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 2px;
}

.blog__item-author::before {
    background-image: url('../images/icons/user_blog.png');
}

.blog__item-date::before {
    background-image: url('../images/icons/clock_blog.png');
}

.blog__item-title {
    color: #29282d;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
}

.blog__item-morelink {
    position: relative;
    transition: all 0.3s;
    color: #8d8d8d;
}

/* .blog__item-morelink:hover{
     color: #fe3e57;
    }
    .blog__item-morelink:hover {
     color: #fe3e57;
    } */

.blog__item-morelink::after {
    content: '';
    height: 8px;
    width: 10px;
    background-image: url('../images/icons/arrow_blog.png');
    position: absolute;
    top: 8px;
    right: -17px;
}

.footer {
    background-color: #f6f6f6;
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 2px solid #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 60px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-top__contact {
    max-width: 240px;
    margin-right: 60px;
}

.footer-top__nav {
    max-width: 150px;
    margin-right: 50px;
}

.footer-top__form {
    max-width: 470px;
}

.footer-top__logo {
    display: block;
    margin-bottom: 22px;
}

.footer-top__adres,
.footer-top__email,
.footer-top__phone {
    font-size: 16px;
    line-height: 2.25;
    display: block;
}

.footer-top__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.footer-top__social-link {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-top__social-link path {
    fill: #8d8d8d;
}

.footer-top__social-link:hover path {
    fill: #fe576d;
}

.footer-top__social-item + .footer-top__social-item {
    margin-left: 20px;
}

.footer-top__title {
    color: #29282d;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-top__link {
    line-height: 2.25;
}

.footer-top__text {
    margin-bottom: 25px;
}

.footer-top__form-input {
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 12px 10px 12px 15px;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
}

.footer-top__form-input::-webkit-input-placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-input::-moz-placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-input:-ms-input-placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-input::-ms-input-placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-input::placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-btn {
    background-color: #fe576d;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
}

.footer-bottom {
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

.footer-bottom__img {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

/* font-family: 'DM Sans',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Rubik',
sans-serif; */

.top-slider {
    background-image: url(../images/slider/sl_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1770px; */
    background-color: #f6f6f6;
    padding-top: 65px;
    height: 713px;
    position: relative;
}

.top-slider__container {
    max-width: 1470px;
}

.top-slider__item {
    display: flex !important;
    justify-content: space-between;
    position: relative;
    height: 600px;
}

.top-slider__content {
    padding-left: 95px;
    padding-top: 200px;
}

.top-slider__title {
    max-width: 670px;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #29282d;
}

.top-slider__text {
    max-width: 470px;
    margin-bottom: 55px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #8d8d8d;
}

.top-slider__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 5px;
    color: #ffff;
    background-color: #fe3e57;
    padding: 14px 36px;
    text-transform: uppercase;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
}

.top-slider__img {
    max-width: 670px;
    height: 650px;
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.slick-dots li {
    padding: 0 5px;
    line-height: 0;
}

.slick-dots button {
    padding: 0;
    font-size: 0;
    background-color: transparent;
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
}

.slick-dots button::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #8d8d8d;
    border-radius: 50%;
    top: 40%;
    left: 40%;
    transform: translate(-50% -50%);
}

.slick-active button {
    border-color: #fe3e57;
}

.slick-active button::before {
    background-color: #fe3e57;
}

.top__container {
    /* max-width: 1600px; */
    min-height: 360px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
    text-align: center;
}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;
    position: relative;
}

.breadcrumbs::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/home.png');
    width: 16px;
    height: 16px;
    left: 0;
    top: 4px;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    color: #727272;
    padding-right: 40px;
    position: relative;
}

.breadcrumbs__item::after {
    content: '';
    position: absolute;
    background-image: url('../images/icons/dubl_arrow.png');
    width: 9px;
    height: 10px;
    right: 15px;
    top: 9px;
}

.breadcrumbs__item:last-child {
    color: #fe3e57;
    padding-right: 0;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: inherit;
}

.shop {
    padding: 120px 0 105px;
}

.shop__inner {
    display: flex;
}

.shop__filters {
    max-width: 370px;
    margin-right: 30px;
}

.filter__item {
    padding: 35px 30px 40px;
    border: 1px solid #f0eeee;
    margin-bottom: 40px;
}

.filter__title {
    text-transform: uppercase;
    color: #29282d;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
}

.filter-search__form {
    display: flex;
}

.filter-search__input {
    border: none;
    background-color: #ececec;
    height: 50px;
    width: 260px;
    padding: 0 5px 0 15px;
}

.filter-search__btn {
    border: none;
    background-color: #fe3e57;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-price__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.filter-price__btn {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.irs--flat {
    height: 30px;
}

.irs--flat .irs-line {
    top: 13px;
    height: 5px;
    background-color: #ececec;
    border-radius: 0;
}

.irs--flat .irs-bar {
    top: 13px;
    height: 5px;
    border-color: #fe3e57;
}

.irs--flat .irs-handle {
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.filter-color__lebal {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
}

.filter-color__lebal + filter-color__lebal {
    padding-top: 20px;
}

.filter-color__lebal:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.filter-color__input:checked + .filter-color__checkbox {
    background-image: url('../images/shop1/icons/checkon.svg');
    background-repeat: no-repeat;
}

.filter-color__checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -16px;
    margin-top: 7px;
}

.filter-color__checkbox--blue {
    background-color: #00aeef;
}

.filter-color__checkbox--red {
    background-color: #f52574;
}

.filter-color__checkbox--green {
    background-color: #24d4ac;
}

.filter-color__checkbox--orange {
    background-color: #ff7e00;
}

.filter-color__checkbox--black {
    background-color: #000000;
}

.filter-color__checkbox--purple {
    background-color: #923899;
}

.filter-size__label {
    display: block;
    padding-left: 35px;
    margin-bottom: 20 px;
}

.filter-size__input:checked + .filter-size__checkbox {
    background-image: url('../images/shop1/icons/check_size.svg');
    border: none;
}

.filter-size__input:checked + .filter-size__checkbox + .filter-size__text {
    color: #f52574;
}

.filter-size__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #8d8d8d;
    position: absolute;
    margin-left: -35px;
}

.filter-category__label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}

.filter-category__label:last-child {
    margin-bottom: 0;
}

.filter-category__input:checked + .filter-category__checkbox {
    background-color: #fe3e57;
    color: #fff;
}

.filter-category__checkbox {
    background-color: #f6f6f6;
    color: #29282d;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

/* .filter-popular__form{
 display: flex;
 flex-wrap: wrap;
} */

.filter-popular__label {
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}

.filter-popular__input:checked + .filter-popular__checkbox {
    background-color: #fe3e57;
    color: #fff;
    border: none;
}

.filter-popular__checkbox {
    border: 1px solid #d9d9d9;
    padding: 10px 20px;
}

.shop-content {
    width: 100%;
}

.shop-content__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ececec;
}

.shop-content__inner .products-item {
    margin-bottom: 40px;
}

.shop-content__filter {
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.shop-content__filter-buttons {
    display: flex;
    align-items: center;
}

.shop-content__filter-btn {
    border: none;
    background-color: #fff;
    padding: 0;
    border-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
}

.shop-content__filter-btn.shop-content__filter-btn--active path {
    fill: #f52574;
}

.jq-selectbox__select {
    height: 32px;
    margin-left: 30px;
    padding: 0 30px 0 0;
    border: none;
    font-family: 'Quicksand-Medium';
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    color: #8d8d8d;
    text-shadow: none;
    box-shadow: none;
}

.jq-selectbox__select:hover {
    background: transparent;
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url('../images/shop1/icons/angle_down.svg');
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.pagination__list {
    display: flex;
}

.pagination__arrows {
    text-transform: uppercase;
    position: relative;
}

.pagination__arrows::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    top: 8px;
}

.pagination__prev {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination__prev::before {
    background-image: url('../images/icons/arrow_left.svg');
    left: 0;
}

.pagination__next {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination__next::before {
    background-image: url('../images/icons/arrow_right.svg');
    right: 0;
}

.pagination__item {
    margin: 0 13px;
}

.pagination__page--active {
    color: #fe3e57;
}

.error {
    margin: 105px 0;
    display: flex;
    justify-content: space-between;
}

.error__header {
    background-color: #f6f6f6;
}

.error__info {
    padding: 97px 80px 50px 0;
    max-width: 525px;
}

.error__title {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #28384f;
    margin-bottom: 40px;
}

.error__img {
    max-width: 556px;
    height: 520px;
    width: 100%;
}

.error__link {
    margin-top: 60px;
    display: inline-block;
}

.login {
    padding-top: 100px;
    max-width: 570px;
    height: 950px;
    margin: 0 auto -115px;
}

.login__links {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #909090;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.login__link {
    margin: 0 30px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

.login__link--active {
    color: #fe3e57;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.login__text {
    margin: 35px 0;
}

.login__input,
.login__btn {
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #f6f6f6;
    margin: 15px 0 45px;
    padding: 0 15px;
}

.login__btn {
    color: #fff;
    background-color: #29282d;
    margin-bottom: 25px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

.login__fogotpas {
    color: #fe3e57;
    display: inline-block;
}

.product-page {
    padding: 120px 0 0;
}

.product-item__inner {
    display: flex;
}

.product-item__slide {
    max-width: 730px;
    margin-right: 70px;
    display: flex;
}

.product-slide {
    display: flex;
}

.product-slide__thumb {
    width: 140px;
    margin-right: 30px;
}

.product-slide__thumb-item {
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
    cursor: pointer;
}

.product-slide__thumb-item img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.product-slide .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 30px;
}

.product-slide__big {
    width: 560px;
}

.product-slide__big img {
    width: 560px;
    height: 650px;
    object-fit: cover;
}

.product-item__content {
    max-width: 370px;
}

.product-item__title {
    color: #29282d;
    font-size: 22px;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

.product-item__box {
    display: flex;
    justify-content: space-between;
    color: #29282d;
    font-size: 18px;
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 25px;
}

.product-item__price {
    display: flex;
}

.product-item__price-old {
    color: #ccccce;
    text-decoration: line-through;
    padding-left: 15px;
}

.product-item__star {
    display: flex;
}

.product-item__star .jq-ry-container {
    margin: 5px 15px;
}

.product-item__text {
    text-align: justify;
    margin-bottom: 30px;
}

.product-item__text span {
    display: block;
    color: #29282d;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.product-filter__color {
    margin-bottom: 20px;
}

.product-filter__color-title,
.product-filter__size-title {
    margin-bottom: 5px;
    font-size: 18px;
    color: #29282d;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

.product-filter__size {
    margin-bottom: 30px;
}

.product-filter__color-label {
    margin-right: 10px;
}

.product-filter__color-input:checked + .product-filter__color-checkbox {
    border: 1px solid #fe3e57;
}

.product-filter__color-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #e8e8e9;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.product-filter__color-checkbox span {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
}

.product-filter__size-label {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.product-filter__size-checkbox {
    border: 1px solid #e8e8e9;
    padding: 4px 12px;
    display: inline-block;
    position: relative;
    display: inline-block;
}

.product-filter__size-input:checked + .product-filter__size-checkbox {
    border: 1px solid #fe3e57;
}

.product-info__list {
    margin-bottom: 30px;
}

.product-info__item {
    margin-bottom: 5px;
    display: flex;
}

.product-info__title {
    min-width: 100px;
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #29282d;
}

.product-info__social {
    margin-left: 10px;
}

.product-item__btn {
    margin-left: 15px;
}

.jq-number__field {
    width: 120px;
    border: 1px solid #f5f4f4;
    border-bottom-color: #f5f4f4;
    border-radius: 0;
    box-shadow: none;
}

.jq-number__field input {
    text-align: center;
    width: 100%;
    padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #29282d;
    padding: 17px 10px;
    cursor: pointer;
}

.jq-number {
    padding: 0;
}

.jq-number__spin {
    position: absolute;
    transform: translateY(-15%);
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-bottom-color: none;
    border-radius: 0;
}

.jq-number__spin:hover {
    background: none;
}

.jq-number__spin.minus {
    right: auto;
    left: 15px;
    transform: translateY(-115%);
    border-bottom: none;
}

.jq-number__spin::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #29282d;
    width: 16px;
    height: 2px;
    border-bottom: none;
}

.jq-number__spin.minus::after {
    top: 5px px;
    border-right: 5px solid transparent;
    border-bottom: none;
    border-left: 5px solid transparent;
    border-top: 0;
}

.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 7px;
    background-color: #29282d;
    width: 2px;
    height: 16px;
    border-bottom: none;
}

.product-tabs {
    margin-top: 110px;
}

.product-tabs__top {
    margin-bottom: 40px;
    border-bottom: 1px solid #f5f4f4;
}

.product-tabs__top-item {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 2.5;
    font-size: 22px;
    margin-right: 60px;
}

.product-tabs__top-item--active {
    color: #29282d;
    border-bottom: 1px solid #fe576d;
    padding-bottom: 13px;
}

.product-tabs__content-item {
    display: none;
}

.product-tabs__content-item.product-tabs__content-item--active {
    display: block;
}

.comments {
    margin-bottom: 40px;
    display: flex;
}
.coments-form {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 60px;
}

.comments__img {
    min-width: 70px;
    height: 70px;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: aline-block;
}

.comments__content-top {
    display: flex;
    margin-bottom: 15px;
}

.comments__content-name {
    color: #29282d;
    font-size: 16px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    margin-right: 20px;
}

.comments__content-date {
    padding-left: 13px;
}

.comments__content-star {
    margin: 0;
    margin-left: auto;
}

.comments__content-reply {
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.comments__content-reply::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 14px;
    background-image: url('../images/icons/reply.svg');
    left: 0;
    top: 2px;
}

.coments-form__title {
    color: #29282d;
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

.coments-form__title::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 55px;
    background-color: #fe3e57;
    bottom: 0;
    left: 0;
}

.coments-form__rating {
    margin-bottom: 30px;
}
.coments-form__rating-title {
    color: #29282d;
    font-size: 16px;
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}

.coments-form__label {
    margin-left: 30px;
    cursor: pointer;
}

.coments-form__input:checked + .coments-form__radio path {
    fill: rgb(255, 206, 121);
}

.coments-connection {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.coments-connection__input {
    width: 570px;
    height: 50px;
    padding-left: 25px;
    border: 1px solid #f5f4f4;
}

.coments-connection__textarea {
    border: 1px solid #f5f4f4;
    height: 230px;
    width: 100%;
    padding-left: 25px;
    padding-top: 20px;
    margin-bottom: 40px;
    resize: none;
}

.product-page__products {
    padding-top: 55px;
    margin-bottom: 110px;
}

.product-page__products__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 55px;
}

.product-page__products__item {
    width: 270px;
    height: 270px;
}

.product-page__products-item__img-box {
    width: 270px;
    height: 270px;
    position: relative;
}

.products-item--off .products-item__img-box::before {
    content: '50% OFF';
    position: absolute;
    background-color: #fe3e57;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1px;
    left: 10px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.blog-page {
    padding: 120px 0 60px;
}
.blog-page__inner {
    display: flex;
    justify-content: space-between;
}
.blog-page__content {
    width: 770px;
    margin-right: 30px;
}
.blog-page__aside {
    width: 370px;
}
.blog-page__item {
    margin-bottom: 60px;
}
.blog-page__item-link {
    display: block;
    color: inherit;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.blog-page__img {
    width: 770px;
    height: 450px;
    object-fit: cover;
    display: block;
}
.blog-page__jtem-box {
    border: 1px solid #ececec;
    border-top: none;
    padding: 50px 40px;
}
.blog-page__item-title {
    color: #29282d;
}
.blog-page__item-title:hover {
    color: #fe3e57;
}
.blog__item-info--blog-page {
    justify-content: start;
}
.blog__item-date--blog-page {
    margin-left: 20px;
}

.blog-page__jtem-box--no-image {
    margin-top: 40px;
    box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    border: none;
}
.blog-page__item--slider {
    position: relative;
}
button.slick-prev,
button.slick-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 20px 60px 0px rgba(32 29 29 / 47%);
    cursor: pointer;
    background-color: #fe3e57;
    padding-top: 8px;
}

button.slick-prev path,
button.slick-next path {
    fill: #fff;
}
button.slick-disabled {
    background-color: #fff;
}
button.slick-disabled path {
    fill: #fe3e57;
}

.slick-prev {
    left: 40px;
    top: 45%;
    z-index: 5;
}

.slick-next {
    right: 40px;
    top: 45%;
    z-index: 5;
}

.staff {
    padding: 40px;
    border: 1px solid #ececec;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staff__title {
    margin-top: 40px;
    color: #29282d;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.staff__subtitle {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fe3e57;
}
.staff__text {
    margin-top: 15px;
    text-align: center;
}
.latest-post {
    border: 1px solid #ececec;
    margin-bottom: 40px;
    padding: 40px 30px 20px 30px;
}
.latest-post__title {
    margin-bottom: 20px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    color: #29282d;
}
.latest-post_item {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}
.latest-post_item:last-child {
    border-bottom: none;
}
.latest-post__img {
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: block;
}
.latest-post__content {
    margin-left: 20px;
}
.latest-post__name {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #29282d;
    line-height: 28px;
    margin-top: 5px;
}
.latest-post__name:hover {
    color: #fe3e57;
}
.latest-post__date {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
}
.blog-page__item-video {
    position: relative;
}
.btn-blog {
    position: absolute;
    left: 45%;
    top: 25%;
}
.blog-one__text {
    padding: 30px;
    border: 1px solid #ececec;
    border-top: none;
    margin-top: -1px;
    margin-bottom: 30px;
}
.blog-one__info {
    margin-bottom: 30px;
}
.blog-one__info-links {
    margin-bottom: 30px;
}
.blog-one__info-link {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    padding-left: 28px;
    margin-right: 30px;
    position: relative;
}
.blog-one__info-link:hover {
    color: #fe3e57;
}

.blog-one__info-link::before {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url('../images/icons/calendar.svg');
}

.blog-one__info-link--coment::before {
    background-image: url('../images/icons/coment.svg');
}

.blog-one__info-link--author::before {
    background-image: url('../images/icons/author.svg');
}
.blog-one__info h4 {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    color: #29282d;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 30px;
}
.blog-one__info blockquote {
    padding: 40px 40px 35px 45px;
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #29282d;
    background-color: #f6f6f6;
    margin-top: 35px;
    margin-bottom: 35px;
    border-left: 3px solid #fe3e57;
}
.blog-one__info p {
    margin-bottom: 35px;
}
.blog-one__block {
    display: flex;
}
.blog-one__block p {
    margin-left: 30px;
    margin-bottom: 0;
}
.blog-one__block img {
    width: 340px;
    height: 275px;
}
.blog-one__box,
.blog-one__share,
.blog-one__author {
    display: flex;
}
.blog-one__box {
    justify-content: space-between;
    margin: 0 30px 40px;
}
.blog-one__tegs,
.blog-one__share {
    color: #29282d;
}
.blog-one__tegs a:hover {
    color: #fe3e57;
}
.blog-one__share a {
    margin-left: 20px;
}

.blog-one__share svg:hover path {
    fill: #fe3e57;
}
.blog-one__author,
.blog-one__comments {
    margin-bottom: 40px;
    border-bottom: 1px solid #ececec;
}
.blog-one__coments-form {
    border: none;
}

.blog-one__author-img {
    width: 140px;
    height: 140px;
    margin-right: 30px;
}
.blog-one__comments-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    color: #29282d;
}

.blog-one__author-name {
    font-family: 'Quicksand-Medium', sans-serif;
    color: #29282d;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
}

.blog-one__input {
    width: 340px;
}
.blog-one__textarea {
    resize: none;
}
.contacts{
  margin-bottom: 125px;
}
#map{
  height: 450px;
  width: 100%;
  margin: 120px 0 110px; 

}
area{
  background-color: #5700e462;
  cursor: pointer;
}
.contacts__inner{
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  column-gap: 30px;
}
.contacts__title{
  text-align: start;
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}
.contacts__text{
  text-align: justify;
  margin: 30px 0 10px;
}
.contacts__info dl {
  margin-top: 45px;
  padding-left: 80px;
  position: relative;
  color: #292929;
  font-size: 16px;
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}
.contacts__info dl::before{
  content: '';
  position: absolute;
  height: 60px;
  width: 60px;
  background-image: url('../images/icons/phone.jpg');
  background-position: center center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
  background-repeat: no-repeat;
  left: 2px;
  top: 0; 
}

.contacts__info a{
   color: #292929;
  font-size: 16px;
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}
.contacts__form{
 
  padding: 60px 40px;
  box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
}

.contacts__form-title{
  color: #292929;
  font-size: 22px;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;

}

.contacts__form-box{
  width: 685px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts__form-input,
.contacts__form-input--sub,
.contacts__form-textarea{
  height: 60px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 35px;
  padding-left: 20px;
}
.contacts__form-input{
  max-width: 330px;
  width: 50%;
}
.contacts__form-input:first-child{
  margin-right: 20px;
}

.contacts__form-input--sub{
  max-width: 685px;
  width: 100%;
}
.contacts__form-textarea{
  max-width: 685px;
  width: 100%;
  height: 210px;
  resize: none;
  padding-top: 20px;
}
.burger{
  height: 5px;
  width: 30px;
  background-color: #fe3e57;
  position: relative;
  display: none;
}

.burger span::before,
.burger span::after{
  content: '';
  height: 5px;
  width: 30px;
  background-color: #fe3e57;
  position: absolute;
}
.burger span::before{
  top: -9px;
}
.burger span::after{
  bottom: -9px;
}

/* --------------------------------------------------------- */


@media (max-width: 1200px){
  .info__item{
    padding: 30px 20px;
  }

}
@media (max-width: 1170px){
  .categories__items{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }
  .categories__item:nth-child(1){
    grid-row: 2/3;
    background-size: cover;
  }
 .categories__item:nth-child(2){
    grid-column: 1/3;
    background-size: cover;
    
  }
  .categories__item:nth-child(3){
    background-size: cover;
  }
  .categories__item:nth-child(4){
    background-size: cover;
    grid-column: 1/3;
  }
  .categories__item,
  .categories__item:nth-child(3){
    height: 450px;
  }
  .categories__item-title{
    font-size: 36px
  }

}
@media (max-width: 1100px) {
  .menu__list-item + .menu__list-item {
    padding-left: 10px;
  }
  .menu{
    margin: 0 10px;
  }
  .top-slider__title{
    font-size: 35px;
  }
  .top-slider__img{
    max-width: 400px;
    height: 400px;
  }
  .top-slider{
    padding-top: 0;
    height: 450px;
  }
  .top-slider__content{
    padding-top: 65px;
    max-width: 440px;
  }
  .top-slider__item{
    height: 450px;
  }
  .menu__list-link{
    font-size: 12px;
  }
  .info{
    margin: 50px 0 60px;
  }
  .video-fashion{
    padding: 40px 0;
  }
  .video-fashion__inner{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .video-fashion__title{
    text-align: center;
  }
  .video-fashion__popup{
    margin-right: 0;
  }
  .products{
    padding: 50px 0;
  }
  .promo__clock-item{
    width: 80px;
    height: 80px;
  }
  .container-promo{
    padding-right: 140px;
  }
  .promo{
    padding: 70px 0;
    max-height: 400px;
  }
  .promo__inner{
    max-width: 395px;
  }

  .title{
    font-size: 36px;
  }
  .promo__clock-item span{
    font-size: 32px;
  }
  .promo__clock {
    margin: 30px 0;
  }
  .categories__items{
    margin-bottom: 70px;
  }
  .blog{
    padding: 0;
  }
  .blog__item-box{
    padding: 20px 20px;
  }
  .blog__item-title{
    font-size: 18px;
  }
  .footer-top{
    column-gap: 30px;
  }
  .footer-top__form-input{
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px){
  .container-promo{
    padding-right: 70px;
  }
  .blog__item-box a{
    font-size: 12px;
  }
  .blog__item-author::before, .blog__item-date::before{
    background-size: cover;
    width: 16px;
    height: 16px;
  }
  .blog__item-author, .blog__item-date{
    padding-left: 20px;
  }
  
}
@media (max-width: 930px){
  .categories__items{
    display: block;
  }
  .categories__item{
    margin-bottom: 20px;
  }
   .categories__item:nth-child(1){
    background-position-y: -40px;
  }
     .categories__item:nth-child(2){
    background-position-x: -240px;
  }
  .promo__inner {
    max-width: 330px;
  }
  .footer-top{
    padding: 20px 5px 30px;
  }
   .footer-top{
    column-gap: 5px;
  }


}

@media (max-width: 890px){
  .container-promo{
    padding-right: 40px;
  }
}

@media (max-width: 770px) {
  .header{
    position: relative;
  }
  .burger{
    display: block;
  }
  .menu{
    width: 30%;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 20;
    
  }
  .menu__list{
    text-align: right;
    display: none;
  }

  .menu__list._active{
   display: block;
}
  .menu__list-item{
    margin-top: 5px;
    background-color: #fe3e587a;
    padding: 10px 0;
  }
  .menu__list-link{
    color: white;
    letter-spacing: 2px;
  }
  
  .top-slider__content{
    padding-left: 30px;
    max-width: 260px;
  }
   .top-slider__img{
    max-width: 350px;
    height: 350px;
  }
    .categories__item:nth-child(2){
    background-position-x: -333px;
  }
   .container-promo{
    padding-right: 0;
  }
  .promo__inner{
    margin: 0 auto;
  }
  .partners{
    display: none;
  }
  .blog__item-info{
    flex-direction: column;
    row-gap: 10px;
  }
  .footer-top{
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
  .footer-top__items:nth-child(4){
    border-top: 1px solid #b5b4b4;
    padding-top: 20px;

  }
  .footer-top__form{
    grid-row: 2/3;
    grid-column: 1/4;
    max-width: 100%;
    text-align: center;
  }
  
 
}
@media (max-width: 620px) {
  .menu{
    width: 50%;
  }
  .slick-slide img{
    display: none;
  }
   .slick-dots button{
 display: none;
  }
  .top-slider__content{
    padding-top: 55px;
    max-width: 100%;
  }
  .user-nav{
    position: absolute;
    width: 100%;
    align-items: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    justify-content: space-around;
    padding: 20px 0;
  }
  .info{
    display: block;
  }
  .info__item{
    max-width: 100%;
    display: flex;
    height: 150px;
    margin-bottom: 20px;
  }
  .info__content{
    margin-left: 20px;
  }
  .info__item-title{
    margin-top: 0;
  }
}

@media (max-width: 550px){
  .categories__item-title{
    font-size: 24px;
  }
     .categories__item:nth-child(2){
    background-position-x: -581px;
  }
  .products__items{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 10px;
  }

}
@media (max-width: 470px){
     .categories__item:nth-child(2){
    background-position-x: -679px;
    padding-top: 15px;
  }
   .categories__item:nth-child(3){
    background-position-x: -113px;
    padding-top: 15px;
  }
   .categories__item:nth-child(4){
    background-position-x: -168px;
    padding-top: 15px;
  }
  .blog__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
   .blog__item-info{
    flex-direction: row;
  }
  .blog__item{
    box-shadow: 0 0 10px 0 rgb(59, 51, 51);
  }
  .footer-top{
    display: block;
    align-items: center;
  }
  .footer-top__img{
    display: inline-block;

  }
  .footer-top__items{
    text-align: center;
  }
  .footer-top__social-list{
    justify-content: center;
  }
  .footer-top__contact{
    margin-right: 0;
    max-width: 100%;
  }
  .footer-top__nav{
    margin-right: 0;
    max-width: 100%;
  }
  .footer-bottom{
    flex-direction: column;
  }
}